# This workflow checks that the examples contained in javaluator's tutorial in private project "fathzer/hosting" is up to date.
# It requires a REPO_READ_TOKEN personal access token that can checkout this repository.
name: Tutorial check
on:
  push:
    branches:
      - "master"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Tuto check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check out hosting
        uses: actions/checkout@v4
        with:
          repository: fathzer/hosting
          token: ${{ secrets.REPO_READ_TOKEN }}
          sparse-checkout: javaluator
          path: './hosting'
          
      - name: seeMe
        run: |
          chmod +x ./javaluator-examples/detectDiff.sh
          ./javaluator-examples/detectDiff.sh ./hosting/javaluator/www/en/doc/tutorial ./javaluator-examples/src/main/java/com/fathzer/soft/javaluator/examples